<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prgguru.compiled123">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permission: Writing to SDCard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_shape_square"
        android:label="اردومعلم"
        android:roundIcon="@mipmap/ic_launcher_shape_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityListHaroofOfPractice" />
        <activity android:name=".ReadingCounting" />
        <activity android:name=".ActivityAik" />
        <activity android:name=".ActivityDo" />
        <activity android:name=".ActivityTeen" />
        <activity android:name=".ActivityChar" />
        <activity android:name=".ActivityPanch" />
        <activity android:name=".ActivityChaay" />
        <activity android:name=".ActivitySath" />
        <activity android:name=".ActivityAath" />
        <activity android:name=".ActivityNoo" />
        <activity android:name=".ActivityTen" />
        <activity android:name=".WriteHurrfTypes" />
        <activity android:name=".MainMenu" />
        <activity android:name=".ActivityWrite" />
        <activity android:name=".ActivityRead" />
        <activity android:name=".ActivityReadLafaz" />
        <activity android:name=".ActivityAlifAngoor" />
        <activity android:name=".ActivityAlifmadaAri" />
        <activity android:name=".ActivityBayBasta" />
        <activity android:name=".ActivityPayPhaia" />
        <activity android:name=".ActivityTayTitli" />
        <activity android:name=".ActivityTayTopi" />
        <activity android:name=".ActivitySaySamar" />
        <activity android:name=".ActivityJeemJahaz" />
        <activity android:name=".ActivityChayChabi" />
        <activity android:name=".ActivityHayHuqa" />
        <activity android:name=".ActivityKhayKhargosh" />
        <activity android:name=".ActivityDalDrakhat" />
        <activity android:name=".ActivityDDalDhool" />
        <activity android:name=".ActivityZalZakhira" />
        <activity android:name=".ActivityRayRailgari" />
        <activity android:name=".ActivityRrayAroo" />
        <activity android:name=".ActivityZaayZrafa" />
        <activity android:name=".ActivitySaySalabari" />
        <activity android:name=".ActivitySeenSaib" />
        <activity android:name=".ActivitySheinShair" />
        <activity android:name=".ActivitySwadSabun" />
        <activity android:name=".ActivityZwadZaeif" />
        <activity android:name=".ActivityToayTota" />
        <activity android:name=".ActivityZoayZaroof" />
        <activity android:name=".ActivityAyainAinak" />
        <activity android:name=".ActivityGhainGhubara" />
        <activity android:name=".ActivityFayFawara" />
        <activity android:name=".ActivityQaafQalam" />
        <activity android:name=".ActivityKaafKitab" />
        <activity android:name=".ActivityGaafGajar" />
        <activity android:name=".ActivityLamLota" />
        <activity android:name=".ActivityMemeMachli" />
        <activity android:name=".ActivityNoonNalka" />
        <activity android:name=".ActivityWaoWagan" />
        <activity android:name=".ActivityHaayHati" />
        <activity android:name=".ActivityHamzaChaye" />
        <activity android:name=".ActivityYayYka" />
        <activity android:name=".ActivityReadHelp" />
        <activity android:name=".ActivityChatbot" />
        <activity android:name=".ActivityZakihiraAlfaz" />
        <activity android:name=".ActivityWriteHaraf" />
        <activity android:name=".ActivityWriteLafaz" />
        <activity android:name=".ActivityWriteHelp" />
        <activity android:name=".ActivityReadHaraf" />
        <activity android:name=".ActivityAlif" />
        <activity android:name=".ActivityAlifMudAa" />
        <activity android:name=".ActivityBay" />
        <activity android:name=".ActivityPay" />
        <activity android:name=".ActivityTay" />
        <activity android:name=".ActivityTtay" />
        <activity android:name=".ActivitySay" />
        <activity android:name=".ActivityGeem" />
        <activity android:name=".ActivityChay" />
        <activity android:name=".ActivityHay" />
        <activity android:name=".ActivityKhay" />
        <activity android:name=".ActivityDaal" />
        <activity android:name=".ActivityDdaal" />
        <activity android:name=".ActivityZaal" />
        <activity android:name=".ActivityRay" />
        <activity android:name=".ActivityRray" />
        <activity android:name=".ActivityZay" />
        <activity android:name=".ActivitySayy" />
        <activity android:name=".ActivitySeen" />
        <activity android:name=".ActivitySheen" />
        <activity android:name=".ActivitySwaad" />
        <activity android:name=".ActivityZwaad" />
        <activity android:name=".ActivityToyain" />
        <activity android:name=".ActivityZoyain" />
        <activity android:name=".ActivityAayin" />
        <activity android:name=".ActivityGhayin" />
        <activity android:name=".ActivityFay" />
        <activity android:name=".ActivityQaaf" />
        <activity android:name=".ActivityKaaf" />
        <activity android:name=".ActivityGhaaf" />
        <activity android:name=".ActivityLaam" />
        <activity android:name=".ActivityMeem" />
        <activity android:name=".ActivityNoon" />
        <activity android:name=".ActivityWow" />
        <activity android:name=".ActivityHayy" />
        <activity android:name=".ActivityHamza" />
        <activity android:name=".ActivityChotiye" />
        <activity android:name=".ActivityBarriye" />
        <activity android:name=".ActivityListHaroofTracing" />
        <activity android:name=".ActivityAngoor" />
        <activity android:name=".ActivityAari" />
        <activity android:name=".ActivityBasta" />
        <activity android:name=".ActivityPahiya" />
        <activity android:name=".ActivityTitli" />
        <activity android:name=".ActivityTopi" />
        <activity android:name=".ActivitySamar" />
        <activity android:name=".ActivityJahaz" />
        <activity android:name=".ActivityChabi" />
        <activity android:name=".ActivityHuqa" />
        <activity android:name=".ActivityKhargosh" />
        <activity android:name=".ActivityDarakht" />
        <activity android:name=".ActivityDhool" />
        <activity android:name=".ActivityZakhira" />
        <activity android:name=".ActivityRailgari" />
        <activity android:name=".ActivityAro" />
        <activity android:name=".ActivityZarafa" />
        <activity android:name=".ActivitySalabari" />
        <activity android:name=".ActivitySaib" />
        <activity android:name=".ActivityShair" />
        <activity android:name=".ActivitySabun" />
        <activity android:name=".ActivityZaeif" />
        <activity android:name=".ActivityTota" />
        <activity android:name=".ActivityZaroof" />
        <activity android:name=".ActivityAinak" />
        <activity android:name=".ActivityGhubary" />
        <activity android:name=".ActivityFawara" />
        <activity android:name=".ActivityQalam" />
        <activity android:name=".ActivityKitab" />
        <activity android:name=".ActivityGajjar" />
        <activity android:name=".ActivityLota" />
        <activity android:name=".ActivityMachli" />
        <activity android:name=".ActivityNalka" />
        <activity android:name=".ActivityWagan" />
        <activity android:name=".ActivityHati" />
        <activity android:name=".ActivityChaye" />
        <activity android:name=".ActivityYaka" />
        <activity android:name=".ConversationScenarios" />
        <activity android:name=".GrammarList" />
        <activity android:name=".IdiomsList" />
        <activity android:name=".PhrasesScenarios" />
        <activity android:name=".ProverbsList" />
        <activity android:name=".VocabularyList" />
        <activity android:name=".ProverbsZoyain" />
        <activity android:name=".ProverbsZay" />
        <activity android:name=".ProverbsZaal" />
        <activity android:name=".ProverbsWow" />
        <activity android:name=".ProverbsTTay" />
        <activity android:name=".ProverbsToyain" />
        <activity android:name=".ProverbsTay" />
        <activity android:name=".ProverbsSwaad" />
        <activity android:name=".ProverbsSheen" />
        <activity android:name=".ProverbsSeen" />
        <activity android:name=".ProverbsSayy" />
        <activity android:name=".ProverbsSay" />
        <activity android:name=".ProverbsRRay" />
        <activity android:name=".ProverbsRay" />
        <activity android:name=".ProverbsQaaf" />
        <activity android:name=".ProverbsPay" />
        <activity android:name=".ProverbsNoon" />
        <activity android:name=".ProverbsMeem" />
        <activity android:name=".ProverbsLaam" />
        <activity android:name=".ProverbsKhay" />
        <activity android:name=".ProverbsKaaf" />
        <activity android:name=".ProverbsHamza" />
        <activity android:name=".ProverbsHayy" />
        <activity android:name=".ProverbsHay" />
        <activity android:name=".ProverbsGhayin" />
        <activity android:name=".ProverbsGhaaf" />
        <activity android:name=".ProverbsGeem" />
        <activity android:name=".ProverbsZwaad" />
        <activity android:name=".ProverbsFay" />
        <activity android:name=".ProverbsDdal" />
        <activity android:name=".ProverbsDaal" />
        <activity android:name=".ProverbsChotiye" />
        <activity android:name=".ProverbsChay" />
        <activity android:name=".ProverbsBay" />
        <activity android:name=".ProverbsBarriye" />
        <activity android:name=".ProverbsAlifMudaa" />
        <activity android:name=".ProverbsAlif" />
        <activity android:name=".ProverbsAayin" />
        <activity android:name=".GrammarLafz" />
        <activity android:name=".GrammarKalma" />
        <activity android:name=".GrammarJumla" />
        <activity android:name=".GrammarIssm" />
        <activity android:name=".GrammarHurrf" />
        <activity android:name=".GrammarFail" />
        <activity android:name=".ConversationForIntroduction" />
        <activity android:name=".ConversationAtShop" />
        <activity android:name=".ConversationAtRestaurant" />
        <activity android:name=".ConversationAtHotel" />
        <activity android:name=".ConversationAtHospital" />
        <activity android:name=".VocabularyWeather" />
        <activity android:name=".VocabularyVehicles" />
        <activity android:name=".VocabularyVegetables" />
        <activity android:name=".VocabularySpices" />
        <activity android:name=".VocabularyProfessions" />
        <activity android:name=".VocabularyPersonalityTypes" />
        <activity android:name=".VocabularyPeriodsOfTime" />
        <activity android:name=".VocabularyPartsOfBody" />
        <activity android:name=".VocabularyMonths" />
        <activity android:name=".VocabularyHealth" />
        <activity android:name=".VocabularyFurniture" />
        <activity android:name=".VocabularyFruits" />
        <activity android:name=".VocabularyFood" />
        <activity android:name=".VocabularyFlowers" />
        <activity android:name=".VocabularyFamilyRelations" />
        <activity android:name=".VocabularyEmotions" />
        <activity android:name=".VocabularyDays" />
        <activity android:name=".VocabularyCommonMaterials" />
        <activity android:name=".VocabularyColors" />
        <activity android:name=".VocabularyClothing" />
        <activity android:name=".VocabularyBirds" />
        <activity android:name=".VocabularyAnimals" />
        <activity android:name=".PhrasesWishSomeoneSomething" />
        <activity android:name=".PhrasesSolvingAMisunderstanding" />
        <activity android:name=".PhrasesSayThanks" />
        <activity android:name=".PhrasesGreetings" />
        <activity android:name=".PhrasesAskingForHelp" />
        <activity android:name=".IdiomsZwaad" />
        <activity android:name=".IdiomsZoyain" />
        <activity android:name=".IdiomsZay" />
        <activity android:name=".IdiomsZaal" />
        <activity android:name=".IdiomsWow" />
        <activity android:name=".IdiomsTtay" />
        <activity android:name=".IdiomsToyain" />
        <activity android:name=".IdiomsTay" />
        <activity android:name=".IdiomsSwaad" />
        <activity android:name=".IdiomsSheen" />
        <activity android:name=".IdiomsSeen" />
        <activity android:name=".IdiomsSsay" />
        <activity android:name=".IdiomsSay" />
        <activity android:name=".IdiomsRray" />
        <activity android:name=".IdiomsRay" />
        <activity android:name=".IdiomsQaaf" />
        <activity android:name=".IdiomsPay" />
        <activity android:name=".IdiomsMeem" />
        <activity android:name=".IdiomsLaam" />
        <activity android:name=".IdiomsKhay" />
        <activity android:name=".IdiomsKaaf" />
        <activity android:name=".IdiomsHayy" />
        <activity android:name=".IdiomsHamza" />
        <activity android:name=".IdiomsGhayin" />
        <activity android:name=".IdiomsGhaaf" />
        <activity android:name=".IdiomsGeem" />
        <activity android:name=".IdiomsFay" />
        <activity android:name=".IdiomsDaal" />
        <activity android:name=".IdiomsChotiye" />
        <activity android:name=".IdiomsBay" />
        <activity android:name=".IdiomsBarriye" />
        <activity android:name=".IdiomsAlifMudAa" />
        <activity android:name=".IdiomsAlif" />
        <activity android:name=".IdiomsAayin" />
        <activity android:name=".IdiomHay" />
        <activity android:name=".IdiomDdal" />
        <activity android:name=".IdiomChay" />
        <activity android:name=".IdiomsNoon" />
        <activity android:name=".MNISTActivity" />
        <activity android:name=".PracticeAlif" />
        <activity android:name=".PracticeAlifMadaa" />
        <activity android:name=".PracticeAyn" />
        <activity android:name=".PracticeJeem" />
        <activity android:name=".PracticeRray" />
        <activity android:name=".PracticeRay" />
        <activity android:name=".PracticeBaa" />
        <activity android:name=".PracticeCheey" />
        <activity android:name=".PracticeChotiYaa" />
        <activity android:name=".PracticeBariYaa" />
        <activity android:name=".PracticeDhaal" />
        <activity android:name=".PracticeDaal" />
        <activity android:name=".PracticeFaa" />
        <activity android:name=".PracticeGaaf" />
        <activity android:name=".PracticeGhain" />
        <activity android:name=".PracticeHamza" />
        <activity android:name=".PracticeHaa" />
        <activity android:name=".PracticeHaay" />
        <activity android:name=".PracticeHhay" />
        <activity android:name=".PracticeKhaa" />
        <activity android:name=".Practicekaaf" />
        <activity android:name=".PracticeLaam" />
        <activity android:name=".PracticeMeem" />
        <activity android:name=".PracticeNoon" />
        <activity android:name=".PracticeNoonGhuna" />
        <activity android:name=".PracticePay" />
        <activity android:name=".PracticeQaaf" />
        <activity android:name=".PracticeSwaad" />
        <activity android:name=".Practicesaay" />
        <activity android:name=".PracticeSheen" />
        <activity android:name=".PracticeSeen" />
        <activity android:name=".PracticeToye" />
        <activity android:name=".PracticeTayah" />
        <activity android:name=".PracticeTay" />
        <activity android:name=".PracticeWaaow" />
        <activity android:name=".PracticeZhaa" />
        <activity android:name=".PracticeZwaaye" />
        <activity android:name=".PracticeZaay" />
        <activity android:name=".PracticeZaal" />
        <activity android:name=".PracticeZwaad" />


    </application>

</manifest>